/*

ART FACTORY

https://templatemo.com/tm-537-art-factory

*/

/* 
---------------------------------------------
Table of contents
---------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. features
07. team
08. pricing
09. blog
10. contact
11. footer
12. preloader
13. highlights

--------------------------------------------- 
*/

/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: #4a4a4a;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #ff589e;
  color: #fff;
}

::-moz-selection {
  background: #ff589e;
  color: #fff;
}

.rounded-circle {
  border-radius: 50%;
}

@media (max-width: 500px){
  col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.highlight {
  color: #ff0000; /* ここで希望の色を指定します */
}

.center-text {
  text-align: center;
}

.button-container {
  text-align: center;
}

.wow {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-slider {
  font-size: 20px; /* フォントサイズを20pxに設定 */
  border-radius: 30px; /* ボーダー半径をバランスよく設定 */
  padding: 18px 35px; /* パディングを適切に調整 */
  background-color: #f55858;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #e80000;
}

a.main-button {
  font-size: 16px; /* フォントサイズを16pxに設定 */
  border-radius: 25px; /* ボーダー半径を適度に設定 */
  padding: 15px 30px;
  background-color: #00b4c6;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #0088e8;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px; /* フォントサイズを16pxに設定 */
  border-radius: 25px; /* ボーダー半径を適度に設定 */
  padding: 15px 30px;
  background-color: #f55858;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: #e80000;
}

@media (max-width: 765px) {
  a.main-button-slider {
    font-size: 16px; /* フォントサイズを16pxに設定 */
    border-radius: 25px; /* ボーダー半径を適度に設定 */
    padding: 15px 30px; /* パディングを適切に調整 */
    background-color: #f55858;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  a.main-button {
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #00b4c6;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  button.main-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f55858;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.section-heading h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  color: #232323;
  margin-bottom: 20px;
}

.section-heading p {
  font-size: 17px;
  color: #777;
  text-align: center;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  background-color: #fff;
  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #1e1e1e !important;
}

.background-header .main-nav .nav > li:hover > a {
  color: #f55858 !important;
}

.background-header .main-nav .nav > li > ul > li:hover > a {
  color: #f55858 !important;
}

.background-header .nav li a.active {
  color: #f55858 !important;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a {
  color: #f55858;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 35px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: 18px;
  top: 12px;
}

.header-area.background-header .main-nav .nav li.submenu:after {
  color: #000;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transform: translateY(-2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  display: block;
  background: #fff;
  color: #3b566e;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
}

.header-area .main-nav .nav li.submenu ul li a:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 40px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #f55858;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #f55858;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a.active {
  color: #f55858;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #3b566e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
  }
  .header-area .main-nav .nav > li > a:hover,
  .header-area .main-nav .nav .submenu > ul > li > a:hover {
    color: #f55858;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3b566e;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/
#welcome {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/banner-bg.png);
  background-repeat: no-repeat;
/*
TRY IT ... with or without CENTER CENTER
  background-position: center center; 
*/
  background-size: cover;
  width: 100%;
  height: 105vh;
  margin-top: -10vh;
}

.welcome-area .header-text {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.welcome-area .header-text .left-text .right-text{
  align-self: center;
}

.welcome-area .header-text h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
}

.welcome-area .header-text p {
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}

.img-area{
  max-width:80%;
  height:auto
}

@media (max-width: 1501px){
  .welcome-area .header-text h1 {
    font-size: 52px;
  }
}

@media (max-width: 991px) {
  .welcome-area .header-text {
    top: 55% !important;
    transform: perspective(1px) translateY(-60%) !important;
  }
  .welcome-area .header-text h1 {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 15px;
  }
  .welcome-area .header-text h1 span {
    color: #fff;
  }
  .welcome-area .header-text p {
    color: #fff;
    margin-bottom: 30px;
  }
}

@media (max-width: 820px) {
  .welcome-area .header-text {
    top: 55% !important;
    transform: perspective(1px) translateY(-60%) !important;
  }
  .welcome-area .header-text h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .welcome-area .header-text p {
    margin-bottom: 30px;
  }
}

@media (max-width: 765px) {
  .welcome-area {
    padding: 100px 0; /* 上下に100pxの余白を追加 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .welcome-area .header-text {
    width: 100%;
  }
  .welcome-area .header-text .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%; /* 行全体を100%の高さにする */
  }
  .welcome-area .header-text .left-text .right-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .col-lg-6.col-md-6.col-sm-12.col-xs-12[data-scroll-reveal="enter right move 30px over 0.6s after 0.4s"] {
    display: none;
  }
}

@media (max-width: 500px) {
  .welcome-area {
    padding: 50px 0; /* 上下に100pxの余白を追加 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

/*
---------------------------------------------
about
---------------------------------------------
*/

#about{
  padding: 120px 0px;
  border-bottom: 1px solid #eee;
}

#about2 {
  padding: 120px 0px;
  border-bottom: 1px solid #eee;
  background-color: #92e4ff;
}

@media (max-width: 765px) {
  #about,
  #about2 {
    padding: 20px 0px 120px 0px;
  }
}

#about .right-heading{
  text-align: center;
}

#about .right-text {
  align-self: center;
}

#about .right-text p{
  margin-bottom: 40px;
}

#about2 .left-text .right-text{
  align-self: center;
}

#about2 .left-text .right-text p{
  margin-bottom: 40px;
}

#about3 {
  padding: 120px 0px;
}

#about3 .left-image{
  align-self: center;
}

/* デフォルト設定 (スクリーン幅が991px以上) */
#about h3,
#about2 h3,
#about3 h3 {
  font-size: 40px;
  font-weight: 700;
  color: #1e1e1e;
  line-height: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

#about h5,
#about2 h5,
#about3 h5 {
  font-size: 26px;
  font-weight: 700;
  color: #1e1e1e;
  line-height: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

#about p,
#about2 p,
#about3 p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

/* スクリーン幅が991px以下の場合 */
@media (max-width: 991px) {
  #about h3,
  #about2 h3,
  #about3 h3 {
    font-size: 34px;
    line-height: 38px;
  }

  #about h5,
  #about2 h5,
  #about3 h5 {
    font-size: 22px;
    line-height: 36px;
  }

  #about p,
  #about2 p,
  #about3 p {
    font-size: 15px;
    line-height: 28px;
  }
}

/* スクリーン幅が765px以下の場合 */
@media (max-width: 765px) {
  #about h3,
  #about2 h3,
  #about3 h3 {
    font-size: 28px;
    line-height: 34px;
  }

  #about h5,
  #about2 h5,
  #about3 h5 {
    font-size: 20px;
    line-height: 32px;
  }

  #about p,
  #about2 p,
  #about3 p {
    font-size: 14px;
    line-height: 26px;
  }
}

/* スクリーン幅が500px以下の場合 */
@media (max-width: 500px) {
  #about h3,
  #about2 h3,
  #about3 h3 {
    font-size: 24px;
    line-height: 30px;
  }

  #about h5,
  #about2 h5,
  #about3 h5 {
    font-size: 18px;
    line-height: 28px;
  }

  #about p,
  #about2 p,
  #about3 p {
    font-size: 13px;
    line-height: 24px;
  }
}


#about3 ul li img{
  display: inline;
  float: left;
}

#about3 ul li .text{
  margin-left: 80px;
}

#about3 ul li .text h6{
  padding-top: 12px;
  font-size: 21px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  #about .row,
  #about2 .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
/* 
---------------------------------------------
services
--------------------------------------------- 
*/
#services {
  position: relative;
  padding: 120px 0px 90px 0px;
  background: rgba(0, 136, 232, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 136, 232, 1)),
    color-stop(0%, rgba(0, 182, 198, 1)),
    color-stop(100%, rgba(0, 136, 232, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );
}

.service-item {
  cursor: pointer;
  display: block;
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

@media screen and (max-width: 920px) {
  .service-item {
    margin: 0px 30px !important;
  }
}

.service-item:hover .icon,
.service-item:hover a.main-button {
  background-color: #0088e8;
}

.service-item .icon {
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  background: #00b4c6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.service-item .icon img {
  max-width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-item .service-title {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.service-item p {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}

.service-item a.main-button {
  margin-top: 30px;
  display: inline-block;
}

.owl-carousel .owl-dots {
  margin-top: 60px;
  text-align: center;
  align-self: center;
}

.owl-carousel button.owl-dot span {
  border-radius: 50%;
  background-color: #fff;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 0px 5px;
}

.owl-carousel button.active span {
  width: 8px;
  height: 8px;
  padding-top: 1.5px;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-nav button.owl-next span {
  top: 32%;
  border-radius: 50%;
  font-size: 36px;
  color: #fff;
  right: -80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.15);
  position: absolute;
}

.owl-carousel .owl-nav button.owl-prev span {
  top: 32%;
  border-radius: 50%;
  font-size: 36px;
  color: #fff;
  left: -80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.15);
  position: absolute;
}

@media screen and (max-width: 1320px) {
  .owl-carousel .owl-nav {
    display: none !important;
  }
}

/*
---------------------------------------------
accordions
---------------------------------------------
*/

#frequently-question {
  padding: 120px 0px;
}

#frequently-question .section-heading p {
  margin-bottom: 80px;
  margin-bottom: 30px;
  font-size: 20px;
  color:#000;
  line-height: 30px;
  letter-spacing: 0.5px;
}

#frequently-question .section-heading h2 {
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 136, 232, 1);
  color: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  color: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 136, 232, 1)),
    color-stop(0%, rgba(0, 182, 198, 1)),
    color-stop(100%, rgba(0, 136, 232, 1))
  );
  color: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  color: -o-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  color: -ms-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  color: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );

  line-height: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}


#frequently-question .left-text {
  align-self: center !important;
}

#frequently-question .left-text h5 {
  font-size: 26px;
  font-weight: 700;
  color: #1e1e1e;
  line-height: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

#frequently-question .left-text p {
  margin-bottom: 80px;
  margin-bottom: 30px;
  font-size: 16px;
  color:#000;
  line-height: 30px;
  letter-spacing: 0.5px;
}

#frequently-question .left-text span {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 50px;
  display: block;
}

#frequently-question .left-text span a {
  font-weight: 500;
}

@media (max-width: 765px) {
  #frequently-question .left-text {
    margin-bottom: 60px;
  }
}

.accordions {
  background-color: #f7f7f7;
}
.accordion-head {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  border-bottom: 1px solid #fff;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .accordion-head {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
}
.accordion-head .icon {
  float: right;
  transition: transform 200ms ease-in-out;
}
.accordion-head.is-open {
  color: #0088e8;
  border-bottom: none;
}
.accordion-head.is-open .icon {
  transform: rotate(45deg);
}
.accordion-body {
  overflow: hidden;
  height: 0;
  transition: height 300ms ease-in-out;
  border-bottom: 1px solid #fff;
}
.accordion-body > .content {
  padding: 20px;
  padding-top: 0;
}

/* スクリーン幅が991px以下の場合 */
@media (max-width: 991px) {
  #frequently-question {
    padding: 90px 0px; /* パディングを縮小 */
  }

  #frequently-question .section-heading h2 {
    font-size: 36px; /* セクションタイトルのフォントサイズを縮小 */
    line-height: 36px;
  }

  #frequently-question .section-heading p,
  #frequently-question .left-text p {
    font-size: 15px; /* pのフォントサイズを縮小 */
    line-height: 28px;
  }

  #frequently-question .left-text h5 {
    font-size: 24px; /* h5のフォントサイズを縮小 */
    line-height: 36px;
  }

  .accordion-head {
    padding: 15px; /* アコーディオンヘッドのパディングを縮小 */
    font-size: 18px; /* アコーディオンヘッドのフォントサイズを縮小 */
  }

  .accordion-body > .content {
    padding: 15px; /* アコーディオンボディのコンテンツパディングを縮小 */
  }
}

/* スクリーン幅が765px以下の場合 */
@media (max-width: 765px) {
  #frequently-question {
    padding: 70px 0px; /* パディングをさらに縮小 */
  }

  #frequently-question .section-heading h2 {
    font-size: 32px; /* セクションタイトルのフォントサイズをさらに縮小 */
    line-height: 32px;
  }

  #frequently-question .section-heading p,
  #frequently-question .left-text p {
    font-size: 14px; /* pのフォントサイズをさらに縮小 */
    line-height: 26px;
  }

  #frequently-question .left-text h5 {
    font-size: 22px; /* h5のフォントサイズをさらに縮小 */
    line-height: 34px;
  }

  .accordion-head {
    padding: 12px; /* アコーディオンヘッドのパディングをさらに縮小 */
    font-size: 14px; /* アコーディオンヘッドのフォントサイズをさらに縮小 */
  }

  .accordion-body > .content {
    padding: 12px; /* アコーディオンボディのコンテンツパディングをさらに縮小 */
  }
}

/* スクリーン幅が500px以下の場合 */
@media (max-width: 500px) {
  #frequently-question {
    padding: 50px 0px; /* パディングをさらに縮小 */
  }

  #frequently-question .section-heading h2 {
    font-size: 28px; /* セクションタイトルのフォントサイズをさらに縮小 */
    line-height: 28px;
  }

  #frequently-question .section-heading p,
  #frequently-question .left-text p {
    font-size: 13px; /* pのフォントサイズをさらに縮小 */
    line-height: 24px;
  }

  #frequently-question .left-text h5 {
    font-size: 20px; /* h5のフォントサイズをさらに縮小 */
    line-height: 32px;
  }

  .accordion-head {
    padding: 12px; /* アコーディオンヘッドのパディングをさらに縮小 */
    font-size: 13.5px; /* アコーディオンヘッドのフォントサイズをさらに縮小 */
  }

  .accordion-body > .content {
    padding: 10px; /* アコーディオンボディのコンテンツパディングをさらに縮小 */
  }
}

@media (max-width: 400px) {
  #frequently-question {
    padding: 50px 0px; /* パディングをさらに縮小 */
  }

  #frequently-question .section-heading  p{
    font-size: 11px; /* セクションタイトルのフォントサイズをさらに縮小 */
    line-height: 20px;
  } 
}


/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

#contact-us .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  overflow-x: hidden;
}

#contact-us .col-lg-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#contact-us h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}

.contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6f8ba4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.contact-text p {
  margin-bottom: 28px;
}

.contact-field {
  background-color: rgba(250, 250, 250, 0.3);
}

.contact-form {
  padding: 100px;
  background: rgba(0, 136, 232, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 136, 232, 1)),
    color-stop(0%, rgba(0, 182, 198, 1)),
    color-stop(100%, rgba(0, 136, 232, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );
}

@media (max-width: 765px) {
  .contact-form {
    padding: 60px;
    margin-top: -7px;
  }
}

.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 14px;
  border: none;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form {
  text-align: center;
}

.contact-form ::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

.contact-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.contact-form ::placeholder {
  color: #fff;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  background-color: #fff;
  padding: 60px 0px;
}

footer .social {
  overflow: hidden;
  text-align: right;
}

footer .social li {
  margin: 0px 5px;
  display: inline-block;
}

footer .social li a {
  color: #fff;
  text-align: center;
  background-color: #00b4c6;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .social li a:hover {
  background-color: #0088e8;
  color: #fff;
}

footer .copyright {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #4a4a4a;
  letter-spacing: 0.88px;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  footer .copyright {
    text-align: center;
  }
  footer .social {
    text-align: center;
    margin-top: 15px;
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(145deg, #00b4c6 0%, #0088e8 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
---------------------------------------------
highlights
--------------------------------------------- 
*/
#highlights {
  padding-top: 70px;
  padding-bottom: 130px;
  background-image: url(../images/highlights-bg.png);
}

.highlights .highlights-content {
  z-index: 2;
  position: relative;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  margin: 50px 0px 0px 0px;
}

.highlights-item {
  text-align: center;
  padding: 30px;
  border-radius: 50px;
  background: rgb(255,255,255);
  background: linear-gradient(105deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  -moz-transition: background-color .5s;
  min-height: 500px;
}

.highlights-item:hover {
  background: rgb(51,204,197);
  background: linear-gradient(105deg, rgba(51,204,197,1) 0%, rgba(8,141,195,1) 100%);
}

.highlights-item:hover h4 {
  color: #fff;
}

.highlights-item:hover p {
  color: #fff;
}

.highlights-item:hover .line-dec {
  background-color: rgba(255,255,255,0.3);
}

.first-highlight:hover .icon {
  background-image: url(../images/highlights-icon-white-01.png);
}

.second-highlight:hover .icon {
  background-image: url(../images/highlights-icon-white-02.png);
}

.third-highlight:hover .icon {
  background-image: url(../images/highlights-icon-white-03.png);
}

.fourth-highlight:hover .icon {
  background-image: url(../images/highlights-icon-white-04.png);
}

.highlights-item .number h6 {
  background-repeat: no-repeat;
  width: 110px;
  height: 69px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 69px;
  margin-top: -65px;
  margin-bottom: 30px;
}

.highlights-item .first-number h6 {
  background-image: url(../images/highlights-number-01.png);
}

.highlights-item .second-number h6 {
  background-image: url(../images/highlights-number-02.png);
}

.highlights-item .third-number h6 {
  background-image: url(../images/highlights-number-03.png);
}

.highlights-item .fourth-number h6 {
  background-image: url(../images/highlights-number-04.png);
}

.first-highlight .icon {
  background-image: url(../images/highlights-icon-black-01.png);
}

.second-highlight .icon {
  background-image: url(../images/highlights-icon-black-02.png);
}

.third-highlight .icon {
  background-image: url(../images/highlights-icon-black-03.png);
}

.fourth-highlight .icon {
  background-image: url(../images/highlights-icon-black-04.png);
}

.highlights-item .icon {
  width: 63px;
  height: 63px;
  margin: 0 auto;
  transition: all 0.5s;
}

.highlights-item h4 {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #2a2a2a;
  position: relative;
  transition: all 0.5s;
}

.highlights-item .line-dec {
  width: 100px;
  height: 2px;
  background-color: rgba(51,204,197,0.3);
  margin: 30px auto;
  transition: all 0.5s;
}

.highlights-item p {
  position: relative;
  margin-top: 0px;
  transition: all 0.5s;
}

h3.highlights-top {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: 60px; /* 高さを調整 */
  padding-inline: 30px; /* 内側の余白を調整 */
  background: rgba(0, 136, 232, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 136, 232, 1)),
    color-stop(0%, rgba(0, 182, 198, 1)),
    color-stop(100%, rgba(0, 136, 232, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );

  border-radius: 30px; /* ボーダーの半径を調整 */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 30px; /* フォントサイズを40pxに設定 */
  font-weight: 700;
  line-height: calc(50 / 40); /* 行の高さを調整 */
  letter-spacing: .04em;
  color: #fff;
}


.section-heading{
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  #highlights .highlights-item h4 {
    font-size: 18px; /* h4のフォントサイズを縮小 */
    line-height: 28px;
  }

  #highlights .highlights-item p {
    font-size: 14px; /* pのフォントサイズを縮小 */
    line-height: 24px;
  }

  .highlights-item .number h6 {
    font-size: 26px; /* 番号のフォントサイズを縮小 */
  }

  h3.highlights-top {
    font-size: 28px; /* セクションタイトルのフォントサイズを縮小 */
    line-height: calc(40 / 28);
    height: 50px; /* タイトルバーの高さを縮小 */
  }
}

/* スクリーン幅が765px以下の場合 */
@media (max-width: 765px) {
  #highlights .highlights-item h4 {
    font-size: 16px; /* h4のフォントサイズをさらに縮小 */
    line-height: 26px;
  }

  #highlights .highlights-item p {
    font-size: 13px; /* pのフォントサイズをさらに縮小 */
    line-height: 22px;
  }

  .highlights-item .number h6 {
    font-size: 24px; /* 番号のフォントサイズをさらに縮小 */
  }

  h3.highlights-top {
    font-size: 26px; /* セクションタイトルのフォントサイズをさらに縮小 */
    line-height: calc(38 / 26);
    height: 45px; /* タイトルバーの高さをさらに縮小 */
  }
}

/* スクリーン幅が500px以下の場合 */
@media (max-width: 500px) {
  #highlights .highlights-item h4 {
    font-size: 14px; /* h4のフォントサイズをさらに縮小 */
    line-height: 24px;
  }

  #highlights .highlights-item p {
    font-size: 12px; /* pのフォントサイズをさらに縮小 */
    line-height: 20px;
  }

  .highlights-item .number h6 {
    font-size: 22px; /* 番号のフォントサイズをさらに縮小 */
  }

  h3.highlights-top {
    font-size: 24px; /* セクションタイトルのフォントサイズをさらに縮小 */
    line-height: calc(34 / 24);
    height: 40px; /* タイトルバーの高さをさらに縮小 */
  }
}

/* スクリーン幅が991px以下の場合 */
@media (max-width: 991px) {
  .highlights .highlights-content {
    margin: 30px 10px 0px 10px; /* 外枠のマージンを縮小 */
    padding: 20px; /* 内側の余白を調整 */
    border-radius: 40px; /* 角の丸みを縮小 */
  }
}

/* スクリーン幅が765px以下の場合 */
@media (max-width: 765px) {
  .highlights .highlights-content {
    margin: 20px 5px 0px 5px; /* 外枠のマージンをさらに縮小 */
    padding: 15px; /* 内側の余白をさらに調整 */
    border-radius: 30px; /* 角の丸みをさらに縮小 */
  }
}

/* スクリーン幅が500px以下の場合 */
@media (max-width: 500px) {
  .highlights .highlights-content {
    margin: 15px 0px 0px 0px; /* 外枠のマージンをさらに縮小 */
    padding: 10px; /* 内側の余白をさらに調整 */
    border-radius: 20px; /* 角の丸みをさらに縮小 */
  }
}

@media (max-width: 992px) {
  .highlights-item {
    margin-bottom: 45px;
  }
  .last-highlights-item {
    margin-bottom: 0px !important;
  }
}

/*
---------------------------------------------
do
---------------------------------------------
*/

#do {
  position: relative;
  padding: 40px 0px 90px 0px;
  background-color: #f8f8f8;
}

/* doセクションの見出しと説明文 */
.do-top h1 {
  font-size: 60px; /* 見出しのフォントサイズ */
  font-weight: 700; /* 見出しのフォントウェイト（太さ） */
  color: #ffffff; /* 見出しのテキストカラー */
  line-height: 1.4; /* 行の高さ */
  text-align: center; /* 中央揃え */
  margin-top: 30px;
  margin-bottom: 70px; /* 見出しの下に余白を追加 */
  letter-spacing: 0.5px; /* 文字間のスペースを調整 */
}

h1.top-shape {
  display: grid;
  place-items: center;
  font-size: 40px;
  line-height: calc(47 / 32);
  letter-spacing: .04em;
  font-weight: 700;
  color:  #fff;
  padding-block: 6px 7px;
  background: rgba(0, 136, 232, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 136, 232, 1)),
    color-stop(0%, rgba(0, 182, 198, 1)),
    color-stop(100%, rgba(0, 136, 232, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );

  --positon-l: 20px;
  --positon-r: calc(100% - var(--positon-l));
  clip-path: polygon(var(--positon-l) 0, var(--positon-r) 0, 100% 50%, var(--positon-r) 100%, var(--positon-l) 100%, 0% 50%);
}

.do-top h2 {
  font-size: 36px; /* 見出しのフォントサイズ */
  font-weight: 700; /* 見出しのフォントウェイト（太さ） */
  color: #1e1e1e; /* 見出しのテキストカラー */
  line-height: 1.4; /* 行の高さ */
  text-align: center; /* 中央揃え */
  margin-bottom: 20px; /* 見出しの下に余白を追加 */
  letter-spacing: 0.5px; /* 文字間のスペースを調整 */
}

.do-top p {
  margin-bottom: 70px; /* 要素の下に適切な余白を追加 */
  font-size: 30px; /* フォントサイズを30pxに設定 */
  line-height: 40px; /* 行間を40pxに設定して読みやすさを確保 */
  letter-spacing: 0.8px; /* 文字間隔を0.8pxに広げてバランスを調整 */
}


@media (max-width: 991px) {
  .do-top h1 {
    font-size: 45px; /* フォントサイズを45pxに縮小 */
    margin-bottom: 50px; /* 下の余白を少し減らす */
  }
  
  .do-top h2 {
    font-size: 28px; /* フォントサイズを28pxに縮小 */
    margin-bottom: 20px; /* 下の余白を維持 */
  }

  .do-top p {
    font-size: 20px; /* フォントサイズを20pxに縮小 */
    line-height: 30px; /* 行間を30pxに縮小 */
    margin-bottom: 50px; /* 下の余白を少し減らす */
  }
}


@media (max-width: 765px) {
  .do-top h1 {
    font-size: 30px; /* フォントサイズを30pxに縮小 */
    margin-bottom: 40px; /* 下の余白をさらに減らす */
  }
  
  .do-top h2 {
    font-size: 24px; /* フォントサイズを24pxに縮小 */
    margin-bottom: 15px; /* 下の余白を少し減らす */
  }

  .do-top p {
    font-size: 16px; /* フォントサイズを16pxに縮小 */
    line-height: 25px; /* 行間を25pxに縮小 */
    margin-bottom: 30px; /* 下の余白をさらに減らす */
  }
}

@media (max-width: 500px) {
  .do-top h1 {
    font-size: 20px; /* フォントサイズを20pxに縮小 */
    margin-bottom: 25px; /* 下の余白をさらに減らす */
  }
  
  .do-top h2 {
    font-size: 18px; /* フォントサイズを18pxに縮小 */
    margin-bottom: 10px; /* 下の余白をさらに減らす */
  }

  .do-top p {
    font-size: 12px; /* フォントサイズを12pxに縮小 */
    line-height: 18px; /* 行間を18pxに縮小 */
    margin-bottom: 16px; /* 下の余白をさらに減らす */
  }
}

.do-item {
  cursor: pointer;
  display: block;
  background: #ffffff;
  padding: 40px 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  height: 500px;
}

@media screen and (max-width: 920px) {
  .do-item {
    margin: 0px 30px !important;
  }
}

.do-item:hover .icon,
.do-item:hover a.main-button {
  background-color: #0088e8;
}

.do-item .icon {
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  background: #00b4c6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.do-item .icon img {
  max-width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.do-item .do-title {
  font-weight: 700; /* フォントウェイトを700に設定 */
  font-size: 24px; /* フォントサイズを24pxに設定 */
  color: #1e1e1e; /* テキストの色を#1e1e1eに設定 */
  letter-spacing: 0.7px; /* 文字間のスペースを0.7pxに設定 */
  margin-bottom: 20px; /* タイトルの下に20pxの余白を設定 */
  position: relative; /* 子要素の配置のために相対位置に設定 */
  z-index: 2; /* 重なり順を設定 */
}


.do-item p {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}

.do-item a.main-button {
  margin-top: 30px;
  display: inline-block;
}

/* 1501px以上 */
@media screen and (min-width: 1501px) {
  .do-item {
    padding: 50px 35px;
    height: 500px;
  }

  .do-item .do-title {
    font-size: 26px;
  }

  .do-item p {
    font-size: 14px;
  }

  .do-item .icon {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }

  .do-item .icon img {
    max-width: 45px;
  }
}

/* 1201px - 1500px */
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .do-item {
    padding: 40px 30px;
    height: 400px;
  }

  .do-item .do-title {
    font-size: 24px;
  }

  .do-item p {
    font-size: 13px;
  }

  .do-item .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  .do-item .icon img {
    max-width: 40px;
  }
}

/* 991px - 1200px */
@media screen and (max-width: 1200px) and (min-width: 991px) {
  .do-item {
    padding: 35px 25px;
    height: 350px;
  }

  .do-item .do-title {
    font-size: 22px;
  }

  .do-item p {
    font-size: 12px;
  }

  .do-item .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .do-item .icon img {
    max-width: 35px;
  }
}

/* 765px - 990px */
@media screen and (max-width: 990px) and (min-width: 765px) {
  .do-item {
    padding: 30px 20px;
    height: 500px;
  }

  .do-item .do-title {
    font-size: 20px;
  }

  .do-item p {
    font-size: 11px;
  }

  .do-item .icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .do-item .icon img {
    max-width: 30px;
  }

  .do-item {
    margin: 0px 20px !important;
  }
}

/* 500px - 764px */
@media screen and (max-width: 764px) and (min-width: 500px) {
  .do-item {
    padding: 25px 15px;
    height: 200px;
  }

  .do-item .do-title {
    font-size: 18px;
  }

  .do-item p {
    font-size: 10px;
  }

  .do-item .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .do-item .icon img {
    max-width: 25px;
  }
}

/* 500px以下 */
@media screen and (max-width: 500px) {
  .do-item {
    padding: 20px 10px;
    height: 250px;
  }

  .do-item .do-title {
    font-size: 16px;
  }

  .do-item p {
    font-size: 9px;
  }

  .do-item .icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }

  .do-item .icon img {
    max-width: 22px;
  }
}


#do .owl-carousel .owl-dots {
  margin-top: 60px;
  text-align: center;
  align-self: center;
}

#do .owl-carousel button.owl-dot span {
  border-radius: 50%;
  background-color: #00b4c6;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 0px 5px;
}

#do .owl-carousel button.active span {
  width: 8px;
  height: 8px;
  padding-top: 1.5px;
}

#do .owl-carousel {
  position: relative;
}

#do .owl-carousel .owl-nav button.owl-next span {
  top: 32%;
  border-radius: 50%;
  font-size: 36px;
  color: #00b4c6;
  right: -80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.8);
  position: absolute;
}

#do .owl-carousel .owl-nav button.owl-prev span {
  top: 32%;
  border-radius: 50%;
  font-size: 36px;
  color: #00b4c6;
  left: -80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.8);
  position: absolute;
}

@media screen and (max-width: 1320px) {
  #do .owl-carousel .owl-nav {
    display: none !important;
  }
}


